.dark .rbc-calendar {
            background-color: #1f2937;
            color: #f3f4f6;
          }
          .dark .rbc-header {
            background-color: #374151;
            color: #f3f4f6;
          }
          .dark .rbc-month-view {
            border-color: #4b5563;
          }
          .dark .rbc-day-bg {
            background-color: #1f2937;
          }
          .dark .rbc-off-range {
            background-color: #111827;
            color: #ffffff;
          }
          .dark .rbc-today {
            background-color: #3730a3;
          }
          .dark .rbc-month-row, .dark .rbc-header, .dark .rbc-day-bg, .dark .rbc-time-view {
            border-color: #4b5563;
          }